# Django and core dependencies
Django==4.2
djangorestframework==3.14.0
django-cors-headers==4.3.1
drf-yasg==1.21.5

# GraphQL
graphene-django==3.1.5
gql==3.4.1
requests==2.31.0

# Celery + Scheduler + Redis
celery==5.3.4
django-celery-beat==2.6.0
redis==5.0.1

# Development & Utils
python-dotenv==1.0.1
